<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.utdallas.emse.sparknav">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Bluetooth permissions and features -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!--
       Permissions to fetch user data over network, contact the proximity beacon service,
       and access location
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="edu.utdallas.emse.sparknav.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="edu.utdallas.emse.sparknav.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
            <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyBitU-Q-hE6X4ewLsGQiTwz5bPAXJu5hxs" />
        -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- this class receives messages from GCM. -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="edu.utdallas.emse.sparknav" />
            </intent-filter>
        </receiver>

        <!--
        the GcmListenerService enables various messaging features and provides
        the place where your code overrides the onMessageReceived method
        -->
        <service
            android:name=".SparkNavGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!--
             in some cases, registration tokens need to be refreshed - usually for security
            reasons or if the device information is no longer valid
        -->
        <service
            android:name=".InstanceIDRefreshService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- this service is used to kick off the token retrieval off the main UI thread -->
        <service
            android:name=".GcmRegisterService"
            android:exported="false"></service>

        <!--
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                &lt;!&ndash; Receives the actual messages. &ndash;&gt;
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="edu.utdallas.emse.sparknav" />
            </intent-filter>
        </receiver>
        -->

        <activity android:name=".MapActivity" />
        <activity android:name=".NotificationResultActivity" />

    </application>

</manifest>